@font-face {
    font-family: "solid";
    src: url("vendors/fonts/fa-solid-900.woff") format('woff');
}

@font-face {
    font-family: "solid-2";
    src: url("vendors/fonts/fa-solid-900.woff2") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "solid-3";
    src: url("vendors/fonts/fa-solid-900.ttf) format('ttf');
    font-weight: bold;
    font-style: italic;
}

.pading-bottom {
	padding-bottom: 1%;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active{
	border-color: #ced4da !important;
	background-color: white !important
}
.bootstrap-select > .dropdown-toggle {
	border-color: #ced4da !important;
	background-color: white !important;
}